/*Navbar component*/

.navbar{
  color: blueviolet;
  
}
.navbar:hover{
  color: white; 
}
.navbarConteiner{
  background-color: #ebf2f2;
}

.body{
  color: blueviolet;
}
.bodyConteiner{
  background-color: black;
}

/*Footer component*/

.footer{
  border-radius: 2%;
  padding: 2%;
  padding: 50;
  text-align: center;
  background-color:#d0f2e7

}

.footerbody{
  padding: 2%;
  background-color:#ebf2f2;
}



/*Contact component*/
.call{
  background-color:#d0f2e7;
  padding: 10%;
  text-align: center;
  font-style: oblique;
}

.callcenter{
  background-color: #d0f2e7;
  padding: 2%;
}
.callafter{
  background-color: #ebf2f2;
  padding: 1%;
}

/*Personal component*/

@keyframes example{

}
.personalinf{
  padding: 20%; 
  text-align: center;
  background-color: #d0f2e7;
  font-style: oblique;
  animation-name: example;
  animation-duration: 10s;
}

.personalgeneral{
  background-color: #d0f2e7;
  padding: 5%;
  text-align: center;
  font-style: oblique;
}

/*Projects component*/

.projects{
  background-color: #d0f2e7;
  padding: 5%;
  font-style: oblique;
}

.projectstitle{
  text-align: center;
  font-style: oblique;
  background-color: #d0f2e7;
  padding: 1%;
}



